coloredlogs==15.0.1
gym==0.23.1
matplotlib==3.5.2
numpy==1.23.5
p_tqdm==1.4.0
pandas==2.0.1
pomegranate==0.14.7
psutil==5.8.0
pytest==6.2.4
ray==2.2.0
scipy==1.10.1
setuptools==67.7.2
tqdm==4.61.1
typing_extensions==4.6.3
wandb==0.15.3
